* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 100px;
}

.center {
    display: flex;
    align-items: center;
}

.navbar {
    background-image: linear-gradient(180deg, rgba(5, 5, 14, 0.8), rgba(41, 182, 41, 0.1)), url(https://images.unsplash.com/photo-1428572184420-7d1092d8c6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.prueba {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

ul li a {
    margin: 0 2em;
    color: gray;
    font-size: 1.2rem;
    font-weight: 100;
}

ul li a:hover {
    color: white;
    transition: 0.4s;
}

.lista {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h1 {
    font-size: 3.5rem;
    color: whitesmoke;
}

h2 {
    font-size: 2.3rem;
    font-weight: 600;
    color: black;
    margin-bottom: .1em;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    color: gray;
}

.btn {
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 9px 10px;
    margin: 0 10px;
    background-color: whitesmoke;
}

.btn:focus {
    outline-width: 0;
}

.btn::placeholder {
    color: black;
}

.red {
    background-color: rgb(255, 74, 74);
    color: white;
    cursor: pointer;
}

.red:hover {
    background-color: white;
    color: red;
    transition: 0.4s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.intro {
    text-align: center;
}

p {
    font-size: 12px;
    color: white;
}

.undercard p {
    color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.position {
    color: white;
    position: absolute;
    font-weight: 800;
    top: 250px;
    left: 20px;
}

.position2 {
    position: absolute;
    font-weight: 800;
    top: 220px;
    left: 0px;
    padding: 5px 10px;
}

.city2 {
    position: relative;
    margin: 0 10px;
}

.city2:hover {
    transform: translateY(-4px);
    transition: 0.3s;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.city {
    position: relative;
    margin: 0 10px;
}

.imagenes {
    border-radius: 3%;
    width: 300px;
    height: 300px;
}

.imagenes2 {
    width: 400px;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.cities {
    color: black;
    font-size: 24px;
    font-weight: 500;
}

.card {
    border: 1px solid lightgray;
    border-radius: 2%;
}

i {
    color: rgb(0, 168, 168);
    font-size: 12px;
}

a {
    color: white;
    text-decoration: none;
}

.undercard {
    padding: 10px;
}

span {
    background-color: rgb(255, 74, 74);
    color: white;
}

footer {
    margin-top: 4em;
    background-color: black;
}

.footnav {
    display: flex;
}

.lastsection {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
}

.lastsection2 {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textarea {
    width: 30em;
    padding-top: .5em;
}

.divfoot {
    display: flex;
    flex-direction: column;
}

.divfoot img {
    margin-bottom: .7em;
}

.lastsection2 ul li a {
    font-size: 13px;
}

.underline {
    margin: 0 auto;
    border: 1px solid rgb(255, 74, 74);
    width: 15em;
    margin-top: 1em;
}

.subtitle {
    color: whitesmoke;
    font-weight: 200;
    margin-bottom: 1em;
}

.customtitle {
    color: whitesmoke;
    font-size: 1.7rem;
}

@media screen and (max-width:1093px) {
    .prueba, .footnav {
        flex-direction: column;
    }
    .city, .city2 {
        margin-bottom: 1em;
    }
    .main {
        text-align: center;
    }
    .btn {
        margin-bottom: 1em;
    }

    .center {
        margin: 1em;
    }
    html {
        font-size: 75%;
    }
}

@media screen and (max-width:720px) {
    .lastsection, .lista {
        flex-direction: column;
        align-content: center;
    }
    .lastsection div {
        align-items: center;
        margin: 1em;
    }
}